.events {
  position: relative;
}

.event {
  position: absolute;
  border-left: 5px solid #4B6EA8;
  height: 100%;
  width: 100%;
}

.event-inner {
  height: 100%;
  width: 100%;
  border: 1px solid #D5D5D5;
  border-left: none;
  padding: 8px;
  background: white;
}

.event-title {
  font-size: 13px;
  font-weight: bold;
  color: #4B6EA8;
}

.event-location {
  font-size: 10px;
  line-height: 16px;
  color: #A0A0A0;
}

.event-remove {
  display: block;
  position: absolute;
  right: 8px;
  top: 6px;
  color: #D6D6D6;
}

.event-remove:hover,
.event-remove:focus,
.event-remove:active {
  color: #A0A0A0;
  cursor: pointer;
  outline: 0;
}