.forms {
}

.form-event,
.form-clear {
  margin-top: 20px;
}

.form-clear {
  text-align: center;
}

.forms label {
  display: block;
  margin-bottom: 5px;
}

.forms input {
  margin-right: 5px;
}

.forms input[type=text] {
  width: 120px;
}

.form-ruler label:last-child {
  margin-bottom: 0;
}
