#alert-region {
  height: 55px;
  text-align: center;
}

#calendar-region {
  white-space: nowrap;
}

.main-container {
  text-align: center;
}

main {
  display: inline-block;
  text-align: left;
  margin-bottom: 55px;
}